@import '../styles/vars';

.app :global {
    .page-content {
        padding: 100px 100px 0px 100px;
        text-align: center;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(12, 100% 1fr);
        box-sizing: border-box;
    }
}
